# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Configuration
config.json

# Reports and Data
reports/
*.csv
!morning_routine_structured.csv # Keep the example data if desired, or ignore all
processes.xlsx

# IDEs
.idea/
.vscode/
.antigravity/
.gemini/
config.yaml

# Models
*.safetensors

# Linting
pylintrc
.ruff_cache

# testing
.pytest_cache